{% extends "home/base_home.html.twig" %}
{% block body %}
{% block navbar %}
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <span class="navbar-brand mb-0 h1">Pokedex</span>
            {% if app.user %}
                <div class="mb-3 p-2 text-white">
                    Bienvenido {{ app.user.getPrimerNombre | upper }}
                </div>
                <a class="btn btn-primary" href="{{ path('app_logout') }}"><i class="fas fa-sign-out"></i></a>
                <button class="btn btn-primary" id="view-user-profile">Perfil</button>
                <button class="btn btn-danger" id="test-mailer">SEND MAIL </button>
            {% endif %}  
        </div>
    </nav>
{% endblock %}
    <div>
        <div class="d-flex justify-content-center align-items-center">
            <div class="d-flex flex-row w-50" >
                <input class="w-100 form-control" name="search_pokemon" id="search_pokemon" placeholder="Buscar un Pokemon" type="text">
            </div>
            <button id="btnSeachPokemon" class="btn btn-danger w-50">
                Load pokemon
            </button>
        </div>
    </div>
    <div class="container border mb-3 mt-3">
         <div class="d-flex justify-content-center align-items-center">
            <div>
                <img id="imgPokemonFrontView"  src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5f321b49-5fa7-407b-aaa0-cca6992d3d7c/d5s04qj-d26a072a-3294-4da7-8ab9-a1be78141275.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzVmMzIxYjQ5LTVmYTctNDA3Yi1hYWEwLWNjYTY5OTJkM2Q3Y1wvZDVzMDRxai1kMjZhMDcyYS0zMjk0LTRkYTctOGFiOS1hMWJlNzgxNDEyNzUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.cBMxrJbp5Q5ghUGAev4ovPgb-Q2evrJs-XqbSrdUeB4" alt="img pokemon" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="h1 mb-3 p-2 text-dark w-100 text-center">Tus pokemóns</div>
    <div id="respuesta"></div>

    <div id="content-loader" class="w-100 text-center">
        <div id="loader" class="gif-loader">
            <img class="img-content-loader" src="{{ asset('build/images/pikachu-loader.gif') }}" alt="content-loader">
        </div>
    </div>

    <div id="listofpokemos" class="container d-flex justify-content-sm-around flex-wrap border pt-2 pb-2">
       
    </div>

    <div id="pagination-container" class="container d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            </ul>
        </nav>
    </div>
    
{% endblock %}