{% extends "base.html.twig" %}
{% block body %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Praesentium totam architecto nemo quis nostrum temporibus maiores odio
     reiciendis, exercitationem voluptates minima impedit amet distinctio 
     vitae nesciunt dolorum doloremque soluta iure!</p>

{% endblock %}