{% extends 'base.html.twig' %}

{% block title %}Sign In!{% endblock %}

{% block body %}
<div class="fluid-container vh-100">

<div class="vw-100 h-100">
<div class="d-flex justify-content-center align-items-center h-100">

<div class="container w-50 bg-white rounded shadow p-3">

<form method="post">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    
    <h1 class="h3 mb-3 font-weight-normal text-secondary">Sign In!</h1>
    <div class="mb-3">
        <label for="inputEmail" class="text-secondary">Email</label>
        <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    </div>
    
    <div class="mb-3">
        <label for="inputPrimerNombre" class="text-secondary">Primer nombre</label>
        <input type="text" name="primer_nombre" id="inputPrimerNombre" class="form-control" autocomplete="username" required autofocus>
    </div>
    <div class="mb-3">
        <label for="inputPassword" class="text-secondary">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>
   
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="btn btn-lg btn-danger text-white" type="submit">
        Sign in
    </button>
</form>

</div>

</div>
</div>

</div>
{% endblock %}
