@import '~bootstrap';
@import '~@fortawesome/fontawesome-free/css/all';

.login_page{
    background: linear-gradient(0deg, rgb(255, 255, 255) 100%, 
    rgba(247, 245, 185, 0.755) 100%, rgba(237, 81, 81, 0.755) 100%) !important;
    background: cover,no-repeat;
}

.img-content-loader{
    width: 100px;
    height: 100px;
} 